body {
  background-color: #E8F9FD;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 0;
  font-size: 400%;
  font-family: 'Dancing Script', cursive;
  text-align: center;
}

.top-container {
  padding-top: 100px;
  position: relative;
}

.middle-container {}

.bottom-container {}

.profile-pic {
  height: 200px;
  width: 200px;
  border-radius: 100px;
}

.designation {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
}

.top-cloud {
  position: absolute;
  right: 200px;
  top: 50px;
}
