body{
  margin: 0;
  text-align: center;
  font-family: verdana, sans-serif;
}

h1{
  margin:0;
  text-align: center;
}

.top-container{
  background-color: #E8F9FD;
  padding-top: 100px;
  position: relative;
}

.middle-container{
  background-color: red;
  width: 200px;
  height: 200px;
}

.bottom-container{
  background-color: blue;
  width: 200px;
  height: 200px;
}

.designation{
  text-decoration: underline;
}

.bottom-cloud{
  position: absolute;
}
.top-cloud{
  position: absolute;
  right: 200px;
  top: 50px;
}
